body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#quiz-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  transition: all ease 200ms;
}
li:hover {
  background-color: #ddd;
}
.active{
  background-color: #ddd;
}
