body {
  background-color: #0f0913;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  color: #0f0913;
}

#quiz-container {
  max-width: 400px;
  padding: 20px;
  background-color: #d2b863;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
}
li:hover {
  background-color: #ddd;
}

button {
  background-color: #b2e3f0; /* Nouvelle couleur de fond */
  color: #0f0913;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold; /* Texte en gras */
}

button:hover {
  background-color: #ffe3a1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
}

.close {
  color: #0f0913;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #d2b863;
}

.welcome-title {
  color: #b2e3f0;
  font-size: 2rem;
}

.welcome-text {
  color: #b2e3f0;
  font-size: 1rem;
}
